<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/css3/37th/cssElementSelectorTest.css">
<body>

    <section id="container">
        <header>
            <h1>가격정보</h1>
        </header>
        <p>얼마인가요?</p>

        <ul>
            <li>결제 방법
            <ul>
                <li>카드</li>
                <li>계좌이체</li>
            </ul>
            </li>
            <li>
                <ul>
                    <li>A: 600,000원</li>
                    <li>B: 800,000원</li>
                    <li>C: 200,000원</li>
                    <li>D: 400,000원</li>
                </ul>
            </li>
        </ul>
    </section>

</body>
</html>