<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>넓이구하기</h2>
    <form th:action="@{/bank9/view-equTriangleArea}">
        <input type="submit" value="정삼각형">
    </form>
    <form th:action="@{/bank9/view-squareArea}">
        <input type="submit" value="정사각형">
    </form>
    <form th:action="@{/bank9/view-regHexagonArea}">
        <input type="submit" value="정육각형">
    </form>
</body>
</html>