<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action ="@{/PB0903/triangle}" method = "post">

        <input name = "height" type="text" placeholder = "높이"></input>
        <input name = "length" type="text" placeholder = "길이"></input>
        <button type ="submit">삼각형</button>
        <button type ="submit" formaction="/PB0903/rectangle">사각형</button>
    </form>
</div>


</body>
</html>