div{
    width: 300px;
    height: 200px;
    margin: 20px;
    display: inline-block;
}

.round {
    border: 2px solid red;
    border-radius: 20px;
}

#bg{
     background:url(../../img/mario.png) no-repeat;
    background-size: cover;
}