<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homework Main page</title>
</head>
<body>
    <h1>25th Homework Main Page~!</h1>

    <h2>TODAY DATE</h2>
    <p th:text = "${servTime}"> Sever Time: ${servTime}</p>

    <!--<p th:text = "${servTime}">
        <p>th:text 는 왜 사용이 어려운지 이유가 궁금합니다
         th:text 에서 Alt + Enter를 사용 하였는데 / 왜 사용 하였는지 / 다른 방법은 없는지 궁금합니다 -->

    <h3>Search page </h3>
    <h4>localhost:8080/homework1</h4> <!-- <h#>을 사용하지 않고 줄 바꾸는 방법이 있을까요? -->
    <h4>localhost:8080/homework2</h4>


</body>
</html>