<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>상품내역</h2>
    <a th:href="@{/bank10/register}">글쓰기</a>
    <table border="1">
        <tr>
            <th align="center" width="80">번호</th>
            <th align="center" width="320">제목</th>
            <th align="center" width="100">가격</th>
            <th align="center" width="160">글쓴이</th>
            <th align="center" width="180">등록일자</th>
        </tr>
        <tr th:if="${#lists.isEmpty(list)}">
            <td align="center" colspan="5">현재 게시물이 없습니다.</td>
        </tr>
        <tr th:each="productList : ${list}">
            <td align="center" th:text="${productList.board_no}"></td>
            <td align="left">
                <a th:href="@{|/bank10/read?board_no=${productList.board_no}|}" th:text="${productList.product_name}"></a>
            </td>
            <td align="center" th:text="${productList.price}"></td>
            <td align="right" th:text="${productList.writer}"></td>
            <td align="center" th:text="${#dates.format(productList.reg_date,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
</body>
</html>