<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(document).ready(function() {
        var formObj = $("#product34th");

        $("#btnModify").on("click", function(){
            var boardNo = $("#board_no");
            var boardNoVal = boardNo.val();

            self.location = "/bank10/modify?boardNo=" + boardNoVal;
        });

        $("#btnRemove").on("click", function() {
            formObj.attr("action", "/bank10/remove");
            formObj.attr("method", "post");
            formObj.submit();
        });

        $("#btnList").on("click", function() {

            self.location = "/bank10/list";
        });
    });
</script>

<body>
<h2>상품 상세보기</h2>
    <form id="product34th" th:object="${product34th}">
        <input type="hidden" name="board_no" th:field="*{board_no}"/>
        <table>
            <tr>
                <td>상품명</td>
                <td>
                    <input type="text" name="product_name" th:field="*{product_name}" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <td>업체명</td>
                <td>
                    <input type="text" name="writer" th:field="*{writer}" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <td>상품설명</td>
                <td>
                    <input type="text"  name="content" th:field="*{content}" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <td>가격</td>
                <td>
                    <input type="number" name="price" size=10 th:field="*{price}" readonly="readonly"/>
                </td>
            </tr>
        </table>
    </form>

    <div>
        <button type="submit" id="btnModify">수정</button>
        <button type="submit" id="btnRemove">삭제</button>
        <button type="submit" id="btnList">돌아가기</button>
    </div>
</body>
</html>