<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>29th_Homework</h1>

    <form th:action="@{/29th/homework1}" method="post">
        <input type="submit" value="homework1">
    </form>

    <form th:action="@{/29th/homework2}" method="post">
        <input type="submit" value="homework2">
    </form>

    <form th:action="@{/29th/homework3}" method="post">
        <input type="submit" value="homework3">
    </form>

</body>
</html>