<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }
        td {
            width: 100px;
            height: 30px;
        }
    </style>
</head>
<body>
<h2>테이블 커스텀</h2>

<table>
    <!--테이블 이름-->
    <caption>테이블 이름</caption>
    <colgroup>
        <col>
        <!-- 세로열 2개 묶기 -->
        <col span="2" style="background-color: blue">
        <col style="background-color: yellow">
    </colgroup>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>