<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>29th_Homework3</h1>

<form th:action="@{/29th/homework3/triangle}" method="post">
    <input type="submit" value="Triangle">
</form>

<form th:action="@{/29th/homework3/square}" method="post">
    <input type="submit" value="Square">
</form>

<form th:action="@{/29th/homework3/hexagon}" method="post">
    <input type="submit" value="Hexagon">
</form>

</body>
</html>