<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script>

        $(document).ready(function() {
            var formObj = $("#user");

            $("#btnRegister").on("click", function() {
                formObj.attr("action", "/user/register");
                formObj.attr("method", "post");
                formObj.submit();
            });

            $("#btnList").on("click", function() {
                self.location = "/user/list";
            });
        });
    </script>

<body>
    <h2>회원가입</h2>

    <form id="user" th:object="${user}" method="post">
        <table>
            <tr>
                <td>아이디</td>
                <td>
                    <input type="text" name="id" th:field="*{id}"/>
                </td>
            </tr>

            <tr>
                <td>비밀번호</td>
                <td>
                    <input type="text" name="passwd" th:field="*{passwd}"/>
                </td>
            </tr>

            <tr>
                <td>이름</td>
                <td>
                    <input type="text" name="name" th:field="*{name}"/>
                </td>
            </tr>

        </table>
    </form>

    <button type="submit" id="btnRegister">등록</button>
    <button type="submit" id="btnList">돌아가기</button>
</body>
</html>