<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>상품 게시판 보기</h2>
<!-- 링크 걸기 a 태그 -> 대상: 32th/board/register -->
<a th:href="@{/11th/member/join}">회원 가입하기</a>
<a th:href="@{/11th/member/login}">로그인</a>
<!-- table은 표 만들기, border는 두께 -->
<table border="1">
    <!-- tr -> row로 가로 -->
    <tr>
        <!-- th 혹은 td는 세로 형태라고 보면됨 -->
        <th align="center" width="80">회원번호</th>
        <th align="left" width="200">제목</th>
        <th align="center" width="100">회원명</th>
        <th align="center" width="80">나이</th>
        <th align="center" width="100">ID</th>
        <th align="center" width="100">PW</th>
    </tr>
    <!-- addAttribute에서 전달한 list가 비었는지 체크하는 부분임 -->
    <tr th:if="${#lists.isEmpty(list)}">
        <!-- colspan 은 위쪽의 세로 4개를 하나로 병합함 -->
        <td colspan="6">
            현재 게시물이 없습니다!
        </td>
    </tr>
    <!-- list에 있는 여러 목록들을 한개씩 가져와서 board에 설정
         HTML 상에서 활용할 수 있는 foreach 구문이라고 보면됨 -->
    <tr th:each="member : ${list}">
        <td align="center" th:text="${member.memberNo}">
            ${member.memberNo}
        </td>

        <td align="left">
            <!-- Spring 에서 PathVariable의 역할을 수행함 boardNo는 가변적이니까 -->
            <a th:href="@{|/11th/member/read?memberNo=${member.memberNo}|}" th:text="${member.title}">
            </a>
        </td>

        <td align="center" th:text="${member.name}">
        </td>

        <!--그냥 text 써도 되는건가? 일단 바꿀만한게 있는지 모르겠어서 이대로 가겠음-->
        <td align="center" th:text="${member.age}">
        </td>

        <td align="center" th:text="${member.id}">
        </td>

        <td align="center" th:text="${member.pw}">
        </td>

    </tr>
</table>
</body>

</html>