<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(document).ready(function() { //jquery를 쓸 때 제일 처음에 써주는 구문이다.
                              //자세히는 모르겠는데 jquery요소들을 다운받는...다는 뜻인 것 같다.
        var formObj = $("#member"); //<<<--- HTML상 form id="board"에 해당하는 객체

        $("#btnModify").on("click", function() {
            formObj.attr("action", "/11th/member/modify"); //기능1. /32th/board/register 작동
            formObj.attr("method", "post"); //기능2. POST형식으로 전송하라는 뜻
            formObj.submit(); //기능3.제출 = 실제 URL 요청이 날아감
        });

         //btnlist라는 click기능을 만들겠다.
         $("#btnList").on("click", function() {
            self.location = "/11th/member/list"; // /10th/market/list로 이동시킨다.
        });

    });

</script>

<body>

<h2> 회원 정보 수정 </h2>

<form id="member" th:object="${member}" method="post">
    <input type="hidden" name="memberNo" th:field="*{memberNo}">
    <!-- form에 제출할 때, form의 데이터가 th:object에 설정해준 객체로 받아진다. 객체화된 상태로 보면 되나-->
    <table>
        <tr>
            <td>회원 이름</td>
            <td>
                <input type="text" name="name" th:field="*{name}" readonly="readonly"/>
            </td>
        </tr>

        <tr>
            <td>회원 나이</td>
            <td>
                <input type="number" name="age" th:field="*{age}" readonly="readonly"/>
            </td>
        </tr>

        <tr>
            <td>가입 글 제목</td>
            <td>
                <input type="text" name="title" th:field="*{title}"/>
                <!-- th:field란? 각각의 필드들을 매핑해주는 역할을 한다.
                     설정해준 값으로, th:object에 설정해준 객체의 내부와 매칭해준다.-->
            </td>
        </tr>

        <tr>
            <td>자기 소개</td>
            <td>
                <input type="text" name="selfPR" th:field="*{selfPR}"/>
            </td>
        </tr>
    </table>
</form>

<!-- div란? Division의 약자. 웹사이트의 레이아웃(전체적인 틀)을 만들때 주로 사용한다.
            그럼 button은 button 스타일을 만들도록 태그 스타일을 지정해준 거라고 볼 수 있겠네
            html이라기보다 css? Bootstrap?? 인가? -->
<div>
    <button type="submit" id="btnModify">수정완료</button>
    <!-- 등록?제출?을 하기 위해 만든 버튼 / 무엇을 제출할 것인가? Register를? -->
    <button type="submit" id="btnList">돌아가기</button>
</div>

</body>
</html>