div {
    width: 500px;
    height: 300px;
    margin: 20px;
    display: inline-block;
    border: 5px solid #ccc;
    border-radius: 75px/100px;
}
#mario {
    background:url(../../img/mario.png) no-repeat;
    background-size: cover;
}
#akmu {
    background:url(../../img/akmu3.gif) no-repeat;
    background-size: cover;
}