<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>과일</title>
</head>
<body>
<h2 style="text-align:center"> 상품 과일</h2>

<a th:href ="@{/34th/fruit/register}">상품 등록</a>

<table border="2">
    <!-- tr는 가로, th&td 세로 -->
    <tr>
        <th align="center" width="80">번호</th>
        <th align="center" width="250">과일명</th>
        <th align="center" width="150">원산지</th>
        <th align="center" width="200">등록일자</th>
    </tr>

    <tr th:if="${#lists.isEmpty(list)}">
        <th colspan="4">
            현재 등록된 상품이 없습니다
        </th>
    </tr>

    <tr th:each="item : ${list}">
        <td align="center" th:text="${item.itemNo}"></td>
        <td align="center">
            <a th:href="@{|/34th/fruit/read?itemNo=${item.itemNo}|}" th:text="${item.title}">
            </a>
        </td>
        <td align="center" th:text="${item.area}"></td>
        <td align="center" th:text="${#dates.format(item.regDate,'yyyy-MM-dd HH-mm-ss')}">

        </td>
    </tr>
</table>
</body>
</html>