<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bank11.css">
</head>
<body>
<div id="container">
    <div id="header">
        <h1>Header</h1>
    </div>
    <div id="contents">
        <h2>Contents</h2>
        <p>어서오세요</p>
    </div>
    <div id="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a th:href="@{/bank11/list}">회원 목록</a></li>
       </ul>
    </div>
    <div id="footer">
        <h2>Footer</h2>
        <p>[이지은] 문제은행 11</p>
    </div>
</div>
</body>
</html>