<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/37th/cssElementSelector.css">
</head>
<body>
    <h2>회원관리 시스템</h2>
    <a th:href="@{/bank11/register}">회원 가입</a>
    <a th:href="@{/bank11/login}">로그인</a>
    <table border="1">
        <tr>
            <th align="center" width="100">회원 번호</th>
            <th align="center" width="140">이름</th>
            <th align="center" width="180">등록일자</th>
        </tr>
        <tr th:if="${#lists.isEmpty(list)}">
            <td align="center" colspan="3">현재 게시물이 없습니다.</td>
        </tr>
        <tr th:each="member : ${list}">
            <td align="center" th:text="${member.memberNo}"></td>
            <td align="left">
                <a th:href="@{|/bank11/read?memberNo=${member.memberNo}|}" th:text="${member.name}"></a>
            </td>
            <td align="center" th:text="${#dates.format(member.regDate,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
</body>
</html>