<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(document).ready(function() {
        var formObj = $("#member");

        $("#btnLogin").on("click", function() {
            formObj.attr("action", "/Bank11/board/login");
            formObj.attr("method", "post");
            formObj.submit();
        });

        $("#btnMain").on("click", function() {
            self.location = "/Bank11/board/main";
        });
    });
</script>
<body>
    <h2>로그인</h2>
    <form id="member" th:object="${memberManage}">
        <table>
            <tr>
                <td>아 이 디</td>
                <td>
                    <input type="text" name="id" th:field="*{id}"/>
                </td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td>
                    <input type="password" name="pw" th:field="*{pw}"/>
                </td>
            </tr>
        </table>
    </form>

    <div>
        <button type="submit" id="btnLogin">로그인</button>
        <button type="submit" id="btnMain">메인화면</button>
    </div>
</body>
</html>